@import '_mixins' ;
@import '_variables' ;
@import 'blocks/_header' ;
@import 'blocks/_footer' ;
@import 'blocks/_catalog' ;
@import 'blocks/_extras' ;

.nav__link{
    color: black;
    &--active{
       color: black;
       border-color: $green;
    }
}