@import '_mixins' ;
@import '_variables' ;
@import 'blocks/_header' ;
@import 'blocks/_banner' ;
@import 'blocks/_categories' ;
@import 'blocks/_advantages' ;
@import 'blocks/_example' ;
@import 'blocks/_footer' ;



.container{
    max-width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
}

.title{
    font-family: 'Oswald';
    font-weight: normal;
    font-size: $h1-size;
}

@media (max-width: 790px){
    .container{
        padding: 0 30px;
    }
}