.advantages{
    margin-top: 20px;
}

.advantages__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.advantages__item{
    position: relative;
    margin-top: 30px;
    width: 245px;
}

.advantages__icon{
    display: flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background: $green;
   
}

.advantages__description{
    margin-top: 32px;
    font-family: 'arial';
    font-size: $p-size;
    line-height: $p-line;
    color: $p-color;

}

.advantages__number{
    position: absolute;
    top: -63px;
    right: 15px;
    font-family: 'oswald';
    font-size: 281.07px;
    color: #f2f2f2;
    z-index: -1;
}

.advantages__item:not(:first-of-type){
    .advantages__number{
        right: 0px;
    }
}

@media (max-width: 790px){
   
    .advantages__item{
        margin-bottom: 103px;
        margin-right: 83px;
    }

    .advantages__item:nth-child(3){
        margin-bottom: 0;
    }

    .advantages__item:nth-child(4){
        margin-bottom: 0;
    }
}

@media (max-width: 730px){
    .advantages__item:nth-child(3){
        margin-bottom: 103px;
    }
}

@media (max-width: 650px){


    .advantages__item{
        margin: 0;
        margin-bottom: 20px!important;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
      
    }

    .advantages__item:first-of-type{
        margin-top: 15px;
    }


    .advantages__icon{
        width: 60px;
        height: 60px;
    }

    .advantages__description{
        margin: 0;
        margin-left: 20px;
        width: 75%;
        font-size: 14px;
        line-height: 18px;
    }

    .advantages__number{
        display: none;
    }
}