.background{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
}

.button{
    padding: 11px 27px;
    color: white;
    background: $green;
}

.banner__wrapper{
    position: relative;
    width: 100%;
}

.banner__info{
    margin-top: 105px;
    margin-left: 80px;
    max-width: 45%;
}

.banner__title{
    font-family: 'Oswald';
    font-size: $h1-size;
    line-height: $h1-size;
}

.banner__description{
    margin-top: 40px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
}

.banner__button{
    margin-top: 65px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    
}

.banner__img{
    position: absolute;
    right: 18%;
    top: -30%;
}

