.container-bg{
    max-width: 1220px;
    padding: 0 40px;
    top: -223px;
    right: -65px;
    margin: 0 auto;
    position: relative;
}

.background{
    position: absolute;
    right: 0;
    top: 0;
    width: 720px;
    height: 698px;
    z-index: -1;
}

.button{
    padding: 11px 27px;
    color: rgba($color: white, $alpha: 0.5);
    background: $green;
    transition: 0.3s linear;
}

.banner__wrapper{
    position: relative;
    width: 100%;
}

.banner__info{
    margin-top: 105px;
    margin-left: 80px;
    max-width: 45%;
}

.banner__title{
    font-family: 'Oswald';
    font-size: $h1-size;
    line-height: $h1-size;
}

.banner__description{
    margin-top: 40px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
}

.banner__button{
    margin-top: 65px;
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
}

.banner__img{
    position: absolute;
    right: 18%;
    top: -30%;
    z-index: -1;
}


@media (max-width: 790px){
    .background{
        display: none;
    }

    .banner__info{
        margin-top: 55px;
        margin-left: 90px;
        max-width: 80%;
    }

    .banner__img{
       top: 200px;
       right: 0;
       z-index: -1;
    }
}


@media (max-width: 650px){
    .container-bg{
        right: 0;
        top: -219px;
    }

    .background{
        top: 65px;
        display: block;
        width: 100%;
        height: 605px;
    }

    .background__image{
        width: 100%;
        height: 310px;
    }

    .banner__info{
        margin: 0;
        margin-top: 30px;
        max-width: 100%;
        text-align: center;
        color: white;
        text-align: center;
    }

 
    .banner__title{
        font-size: 36px;
        line-height: 36px;  
    }

    .banner__description{
        margin-top: 25px;
        font-size: 14px;
        line-height: 14px;  
    }

    .banner__img{
       position: relative;
       top: 30px;
       z-index: -1;
    }

    .banner__button{
        margin-top: 40px;
        font-size: 14px;
    }

    .button{
        padding: 10px 73px;
        color: white;
        background: $green;
    }
}


