.catalog{
   margin-top: 67px;
}

.catalog__products{
   margin-top: 160px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: flex-start;
   flex-wrap: wrap;
}

.catalog__products:nth-child(4n) {
   flex-basis: 100%;
}


.product{
   position: relative;
    display: flex;
    height: 430px;
    width: 245px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f2f2f2;
}
 
.product:nth-of-type(n+5){
   margin-top: 143px;
}

.product__img{
   position: absolute;
   top: -45px;
   left: 43px;
   &--big{
      position: absolute;
      top: -80px;
      left: 28px;
   }
   &--add{
      position: absolute;
      top: 55px;
   }
}

.product__title{
   margin-top: 165px;
   width: 150px;
   font-family: 'Oswald';
   text-align: center;
   font-size: 20px;
   text-transform: uppercase;
   line-height: 20px;
}

.products__description{
   margin-top: 18px;
}

.product__info{
   display: flex;
   margin-bottom: -1px;
   width: 168px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-family: 'Arial';
   border-bottom: 1px solid #cdcdcd;
   font-size: $p-size;
   color: $p-color;
   line-height: 0;
   &--add{
      margin: 0 auto;
      margin-top: 5px;
      width: 168px;
      text-align: center;
      font-family: 'Arial';
      font-size: $p-size;
      color: $p-color;
      line-height: 20px;
   }
}

.product__button{
  margin: 0 auto;
  margin-top: 43px;
  text-align: center;
  &--add{
   margin: 0 auto;
   margin-top: 95px;
   text-align: center;
  }
}

.product__buy{
  font-family: 'Oswald';
  color: rgba($color: white, $alpha: 0.5);
  padding: 8px 56px;
  text-transform: uppercase;
  background-color: $green;
  transition: 0.3s linear;
  &--add{
   font-family: 'Oswald';
   color: black;
   padding: 8px 40px;
   text-transform: uppercase;
   background-color: #f2f2f2;
   transition: 0.3s linear;
  }
}


.add{
   background-color: white;
   border: 1px solid #f2f2f2;
}

@media (max-width: 1076px){
   .product:nth-of-type(n+4){
      margin-top: 143px;
   }
}

@media (max-width: 831px){
   .product:nth-of-type(n+3){
      margin-top: 143px;
   }
}

@media (max-width: 790px){
   .catalog{
      margin-top: 50px;
   }

   .product{
      width: 324px;
   }

   .product:nth-of-type(n+3){
      margin-top: 141px;
   }

   .product__img{
      left: 83px;
      &--big{
         left: 65px;
      }
   }

   .product__info{
      width: 250px;
   }

   .product__buy{
      padding: 8px 93px; 
      &--add{
         padding: 8px 80px; 
      }
   }
}

@media (max-width: 725px){
   .product:nth-of-type(n+1){
      margin-top: 141px;
   }

   .product{
      margin: 0 auto;
   }
}

@media (max-width: 530px){
   .catalog{
      margin-top: 35px;
   }

   .catalog__products{
     
      margin-top: 35px;
      align-items: center;
   }

   .product{
      height: 207px;
      margin: 0 auto;
      border: 1px solid #cdcdcd;
      background: white;
   }

   .product:first-of-type{
      
      margin-top: 10px;
      border-bottom: none;
   }

   .product:nth-of-type(n+1){
      margin-top: 0;
   }

   .product__img{
      top: 0px;
      left: 20px;
      &--big{
         top: 0px;
         left: 20px;
      }
   }

   .product__title{
      padding-top: 23px;
      margin-left: 23%;
      width: 80px;
      margin-top: 0;
      text-align: left;
      font-size: 16px;
   }

   .products__description{
      margin-left: 42%;
      margin-top: 10px;
     
      text-align: right;
   }

   .product__info{
      width: 140px;
      font-size: 12px;
      border: none;
      line-height: 0;
      height: 17px;
      &--add{
         margin-left: 0;
         width: 100%;
         font-size: 12px;
         border: none;
         line-height: 16px;
         height: 17px;
      }
   }

   .product__button{
      margin-top: 35px;   
      &--add{
         margin-top: 35px;
      }
   }

   .product__buy{
      padding: 8px 110px; 
      &--add{
         padding: 8px 100px; 
      }
   }

   .add{
      flex-direction: column;

      .product__img--add{
         
         position: static;
         margin-top: 25px;
      }   

      .product__title{
         margin-top: 0;
         margin-left: 0;
         width: 100%;
         text-align: center;
      }

      .products__description{
         margin-top: 0;
         margin-left: 0;
      }
   }
}