.example{
    margin-top: 0px;
    background-image: linear-gradient(to bottom, white 0%, white 29%, #f2f2f2 29%, #f2f2f2 100%);
    padding-bottom: 55px;
}

.example__title{
    margin-top: 50px;
}

.example__wrapper{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.example__description{
    margin-top: 142px;
    max-width: 435px;
    font-family: "arial";
    font-size: $p-size;
    color:$p-color;
    line-height: $p-line;
}

.example__stat{
    width: 100%;
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat__info{
    max-width: 366px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat__item{
    flex-shrink: 2;
    position: relative;
    display: flex;
    width: 160px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}

.stat__title{
    font-family: 'oswald';
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
}

.stat__description{
    position: absolute;
    bottom: -20px;
    font-family: "arial";
    font-size: 14px;
    color:$p-color;
    line-height: 14px;
    padding: 0 5px;
    background: #f2f2f2;
}

.stat__price{
    margin-top: 60px;
    font-family: 'oswald';
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
}


.stat__price-end{
    margin-left: 60px;
}

.example__slider{
    position: relative;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.slider__img{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.slide__item{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slider__control{
    margin-left: 50px;
    margin-top: 50px;
    width: 570px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    z-index: 1;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider__range {
    -webkit-appearance: none;
    width: 420px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider__range:hover {
    opacity: 1;
  }
  
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider__range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

.range__name{
    margin-top: -10px;
    font-family: 'oswald';
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
}


.slider__background{
    position: absolute;
    bottom: -55px;
    width: 555px;
    height: 465px;
    background: #cdcdcd;
    z-index: -1;
}


.slider__before{
    width: 35px;
    height: 6px;
    border-radius: 3px;
    cursor: pointer;
}

.slider__after{
    margin-right: 2.5px;
    width: 35px;
    height: 6px;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.slider__switch{
    display: none;
    width: 80px;
    height: 12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 6px;
   
    
}
.switch__left, .switch__right{
    width: 0;
}

.switch__left:checked{
    & + .slider__before{
        background: $green;
    }
}

.switch__right:checked + .slider__after{
    background: $green;
}

@media (max-width: 1182px){
    .example__description{
        max-width: 100%;
    }
    .example__slider{
        width: 100%;
        align-items: center;
    }
}


@media (max-width: 790px){
    .example__title{
        margin-top: 70px;
    }

    .example__wrapper{
        flex-direction: column;
    }

    .example__description{
        max-width: 100%;
        margin-top: 60px;
    }

    .example__stat{
        margin-top: 55px;
        flex-direction: row;
        align-items: flex-start;
    }

    .stat__info{
        max-width: 100%;
    }

    .stat__item:last-of-type{
        margin-left: 43px;
    }

    .stat__price{
        margin-top: 8px;
        display: flex;
        flex-direction: column;
    }

    .stat__price-end{
        margin-top: 6px;
        margin-left: auto;
    }

    .example__slider{
        margin-left: 20px;
        margin-top: 80px;
    }

    .slider__control{
        margin-top: 26px;
    }
}

@media (max-width: 650px){
    .example{
        background: #f2f2f2;
        padding-bottom: 120px;
    }

    .example__wrapper{
        margin-top: 0;
       
    }

    .example__title{
        margin-top: 48px;
    }

    .example__description{
        width: 98%;
        margin-top: 35px;
        font-size: 14px;
        line-height: 18px;
    }

    .example__stat{
        margin-top: 25px;
        align-items: center;
        flex-direction: column;
    }

    .stat__item{
        margin-top: 0px;
        width: 120px;
        height: 55px;
    }

    .stat__description{
        font-size: 12px;
    }

    .stat__item:last-of-type{
        .stat__description{
            top: 30px;
            width: 50%;
            text-align: center;
        }
    }

    .stat__title{
        font-size: 24px;
    }

    .stat__price{
        margin-top: 35px;
       display: block;
       font-size: 14px;
    }

    .example__slider{
        margin: 0 auto;
        margin-top: 40px;
        width: 100%;
    }
    
    .slider__control{
        margin-left: 0;
        justify-content: space-around;
        width: 200px;
    }

    .slider__img {
        .img__before{
            margin-bottom: 8px;
        }
        .img__after{
            
            display: none;
        }
    }

    .slider__switch{
        display: flex;
    }

    .slider__range{
        display: none;
        width: 0;
    }

    .slider__background{
        display: none;
    }
}