.extras{
    margin-top: 97px;
    margin-bottom: 87px;
}

.extras__line{
    position: relative;
    background-color: $green;
    height: 3px;
}

.extras__title{
    top: -61px;
    margin-left: -40px;
    padding: 0 35px 0 40px;
    position: absolute;
    font-family: 'oswald';
    font-size: $h2-size;
    background: white;
}

.extras__wrapper{
    display: flex;
    margin-top: 90px;
    flex-direction: row;
    justify-content: space-between;
  
  
}

.extras__item{
    width: 895px;
}

.addition{
    border-bottom: 1px solid #cdcdcd;
    height: 71px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.addition:first-of-type{
    border-top: 1px solid #cdcdcd;
}

.addition__title{
    width: 170px;
    font-family: 'oswald';
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
}

.addition__description{
    width: 135px;
    margin-left: auto;
    margin-right: 110px;
    font-family: 'arial';
    font-weight: normal;
    font-size: $p-size;
    color: $p-color;
}

.addition__price{
    width: 45px;
    margin-right: 35px;
    font-family: 'arial';
    font-weight: normal;
    font-size: $p-size;
    color: $p-color;
}

.addition__button{
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 40px;
    background: $green;
    font-family: 'oswald';
    color: rgba($color: white, $alpha: 0.5);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    transition: 0.3s linear;
}

.extras__gift{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 245px;
    height: 289px;
    background: url(../img/gift-desctop.jpg);
}

.extras__gift-img{
    margin-top: 41px;
}

.extras__gift-description{
    font-family: 'arial';
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: $p-size;
    line-height: 20px;
}

@media (max-width: 1150px){
    .extras__wrapper{
        flex-wrap: wrap;
    }
    
    .extras__sale{
        margin: 0 auto;
    }


    .extras__gift{
        margin: 0 auto;
        margin-top: 50px;
    }

}

@media (max-width: 950px){
    .addition{
        width: 100%;
    }

}



@media (max-width: 790px){

    .extras{
        margin-top: 90px;
    }

    .extras__title{
        margin-left: -3px;
    }

    .extras__wrapper{
        flex-direction: column;
    }

    .addition{
        border-left: 1px solid #cdcdcd;
        border-right: 1px solid #cdcdcd;
        padding: 0 37px;
        height: 138px;
        max-width: 89%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .addition__title{
        margin-top: 25px;
    }

    .addition__description{
        width: auto;
        margin: 0;
        margin-top: 28px;
        margin-right: 50px;
        margin-left: auto;
        
    }

    .addition__price{
        margin: 0;
        margin-top: 28px;
        margin-right: 0;
    }

    .addition__button{
        width: 100%;
        margin: 0;
        margin-top: -17px;
    }

    .extras__gift{
        margin-top: 67px;
        margin-bottom: 80px;
        width: 100%;
        height: 200px;
        background: url('../img/gift-table.jpg');
        flex-direction: row;
        justify-content: flex-start;
    }

    .extras__gift-img{
        margin: 0;
        margin-left: 90px;
    }

    .extras__gift-description{
        text-align: left;
        margin-left: auto;
        margin-right: 120px;
        width: 200px;
    }
}

@media (max-width: 530px){

    .extras{
        margin-top: 45px;
        margin-bottom: 0px;
    }

    .extras__title{
        top: -40px;
        font-size: 24px;
    }

    .extras__wrapper{
        margin-top: 40px;
    }

    .addition{
        margin: 0 auto;
        height: 130px;
        padding: 0;
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .addition__title{
        margin-top: 15px;
        font-size: 16px;
        flex-basis: 100%;
    }

    .addition__description{
        margin: 0;
     
        margin-top: -25px;
        font-size: 14px;
    }

    .addition__price{
        margin: 0;
        margin-top: -25px;
        margin-left: auto;
        font-size: 14px;
    }

    .extras__gift{
        margin-top: 38px;
        margin-bottom: 35px;
        width: 100%;
        height: 289px;
        background: url('../img/gift-mobile.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .extras__gift-img{
        margin: 0 auto;
        margin-top: 40px;
    }

    .extras__gift-description{
        text-align: center;
        width: 150px;
        margin-left: auto;
        margin-right: auto;
      
    }
    

}
