footer{
    background: #f2f2f2;
}

.map{
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    height: 400px;
    background: url(../img/map.png);
    background-repeat: no-repeat;
    background-position-x: 78%;
}

.map__contacts{
    position: absolute;
    top: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 75px;
    width: 495px;
    height: 150px;
    background: white;
}

.contacts__title{
    font-family: 'oswald';
    font-weight: normal;
    flex-basis: 150px;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts__description{
    margin-left: 100px;
    flex-basis: 170px;
    font-family: 'arial';
    font-size: $p-size;
    line-height: 20px;
    color: $p-color;
}

.map__pin{
    position: absolute;
    top: 35%;
    right: 22.2%;
}

.footer__wrapper{
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__social{
    margin-left: 20px;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1000px){
    
    .map{
        margin-top: 200px;
    }

    .contacts__description{
        margin-right: 80px;
        
    }

    .contacts__title{
        margin-left: 80px;
        
    }

    .map__contacts{
        left: 0;
        top: -200px;
        margin: 0;
        padding-left: 0;
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 650px){

    .map{
        margin-top: 0px;
    }
   
    .map__contacts{
        top: 0;
        left: 0;
        max-height: 115px;
    }

    .contacts__title{
        margin: 0;
        padding-left: 10px;
        font-size: 16px;
        width: 100%;
        

    }
    

    .contacts__description{
        font-size: 14px;
        margin: 0;
        padding: 0;
    }


    br{
        display: none;
    }

    .footer__wrapper{
        padding-top: 40px;
        flex-direction: column;
    }

    .footer__logo{
        padding-bottom: 20px;
    }

    .footer__social{
        padding: 30px 100px;
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
    }

    .footer__html{
        padding: 20px 0;
    }
}
