header{
    margin-top: 54px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__navigation{
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
   @include header__link;
    &--active{
        @include header__link;
        border-bottom: 2px solid white;
    }
}


