header{
    margin-top: 54px;
}

.header__nav{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-title{
    display: none;
}

.header__navigation{
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
   @include header__link;
    &--active{
        @include header__link;
        border-bottom: 2px solid white;
    }
}

.nav__item-burger{
    display: none;
    width: 25px;
    height: 18px;
}

.burger__item{
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: black;
}

.burger__item:not(:last-of-type){
    margin-bottom: 6px;
}

@media (max-width: 1060px){
    .nav__link{
        color: black;
        &--active{
            color: black;
            border-color: $green;
        }
    }
}

@media (max-width: 790px){
    header{
        margin-top: 20px;
    }

    .header__navigation{
        margin-left: 20px;
        width: 440px;
    }

    .nav__link{
        color: black;
        font-size: 18px;
        &--active{
            color: black;
            border-color: $green;
            font-size: 18px;
        }
    }
}

@media (max-width: 650px){
    .header__navigation{
        display: none;
    }

    .logo-title{
        display: block;
    }

    .nav__item-burger{
        display: block;
    }

}