header{
    margin-top: 54px;
}

.header__nav{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header__navigation{
    width: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
   @include header__link;
    &--active{
        @include header__link;
        border-bottom: 2px solid white;
    }
}

@media (max-width: 790px){
    header{
        margin-top: 20px;
    }

    .header__navigation{
        width: 440px;
    }

    .nav__link{
        color: black;
        font-size: 18px;
        &--active{
            color: black;
            border-color: $green;
            font-size: 18px;
        }
    }
}

