.background{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: -1;
}

.button{
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    background: $green;
    padding: 15px 25px;
}

.banner__info{
    margin-top: 100px;
    margin-left: 90px;
    width: 50%;
}

.banner__title{
    font-family: 'Oswald';
    font-weight: bold;
    font-size: $h1-size;
}

.banner__description{
    font-family: 'Oswald';
    font-size: 20px;
    text-transform: uppercase;
}